/* Base css that works on vanila islandora installation */ 

body {
  overflow: auto; }

.layout-slot {
  width: 100%; }

.mirador-reader {
  width: 100%;
  min-height: 1000px;
  position: relative !important;
  .content-container {
    .panel-thumbnail-view {
      overflow-x: initial; 
    }
  }
}
