body {
  overflow: auto; }

#book-viewer {
  padding-top: 10px; }

.layout-slot {
  width: 100%; }

.mirador-reader {
  width: 100%;
  min-height: 1000px;
  position: relative !important; }
  .mirador-reader .content-container {
    margin-top: 40px; }
    .mirador-reader .content-container .panel-thumbnail-view {
      overflow-x: initial; }
  .mirador-reader .window-manifest-title {
    font-size: 1.5em;
    padding: 5px 0 0 10px;
    margin: 0;
    margin-left: 35px;
    overflow: hidden;
    height: 40px;
    color: #fff; }
  .mirador-reader .manifest-info {
    overflow: hidden;
    background-color: #b43d2e; }
    .mirador-reader .manifest-info .dropdown.slot-controls {
      width: 190px;
      height: 240px; }
  .mirador-reader .select-metadata {
    width: 300px; }
    .mirador-reader .select-metadata h3 {
      font-size: 1em;
      padding: 5px 0; }
    .mirador-reader .select-metadata h4 {
      font-size: 0.9em;
      padding: 0 5px 0 0;
      line-height: 1;
      margin: 5px 0 7px 0;
      font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important; }
    .mirador-reader .select-metadata h4.repository-label {
      position: static;
      line-height: 1.5;
      margin: 0;
      font-family: 'EB Garamond', 'Times New Roman', serif !important; }
  .mirador-reader .layer-slot {
    width: 100% !important; }
  .mirador-reader .repo-image {
    display: none; }

.mirador-main-menu-bar {
  height: 38px; }
  .mirador-main-menu-bar ul.mirador-main-menu {
    padding: 0; }
    .mirador-main-menu-bar ul.mirador-main-menu li {
      margin-left: 10px; }

.mirador-pan-zoom-toggle {
  bottom: 110px; }

#manifest-search-form label {
  display: none; }

#manifest-search {
  padding: 0 10px;
  margin: 0;
  height: 30px !important; }

.bottomPanel {
  z-index: 2; }

/* Undo mirador-combined.css */
#main-menu .container {
  overflow: initial; }
  #main-menu .container #main-menu-navbar .dropdown li {
    margin: initial;
    background-color: initial;
    padding: initial;
    width: initial;
    text-align: initial; }
  #main-menu .container #main-menu-navbar .dropdown li:hover {
    border-left: initial; }
  #main-menu .container #main-menu-navbar .dropdown a {
    opacity: 1;
    pointer-events: initial; }

.islandora-mirador-bookreader #load-controls {
  float: none;
  height: auto; }

.islandora-mirador-bookreader .select-results {
  clear: both;
  margin-left: 0;
  height: 800px;
  overflow-y: scroll;
  padding-top: 0; }

.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-window-menu,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-toc,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-image-view,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-thumbs-view,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-metadata-view {
  color: #fff !important; }

.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-window-menu.selected,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-toc.selected,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-image-view.selected,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-thumbs-view.selected,
.islandora-mirador-bookreader .mirador-viewer a.mirador-icon-metadata-view.selected {
  color: #000 !important; }

.islandora-mirador-bookreader .mirador-viewer ul.dropdown {
  color: #000 !important; }

.islandora-mirador-bookreader .remaining-items {
  background: silver; }

.islandora-mirador-bookreader .remaining-items h3 {
  font-size: 17px !important;
  text-align: right;
  padding: 0 10px 0 0;
  line-height: 1;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif !important; }