/* Correctional CSS that is necessary for bookreader to display in vanilla Islandora */
body {
  overflow: auto; }

.mirador-reader {
  width: 100%;
  min-height: 1000px;
  position: relative !important; }

.mirador-reader .content-container .panel-thumbnail-view {
  overflow-x: initial; }
