body {
	overflow:auto;
}

#book-viewer {
	padding-top: 10px;
}

.layout-slot {
	width:100%;
}

.mirador-reader {
	width: 100%;
	min-height: 1000px;
	position: relative !important;

	.content-container {
		margin-top:40px;
	
		.panel-thumbnail-view {
			overflow-x:initial;
		}
	}

	.window-manifest-title {
		font-size: 1.5em;
		padding: 0;
		margin: 0;
		margin-left: 35px;
		overflow:initial;
	}
	.manifest-info {
		overflow:hidden;
	}
	.select-metadata  {
		h3 {
			font-size:1em;
		}

		h4 {
			font-size:0.9em;
		}		
	}
	.layer-slot {
		width:100% !important;
	}
}

.mirador-main-menu-bar {
	height:38px;

	ul.mirador-main-menu {
		padding:0;
		li {
			margin-left:10px;
		}
	} 
}

