body {
  overflow: auto; }

#book-viewer {
  padding-top: 10px; }

.layout-slot {
  width: 100%; }

.mirador-reader {
  width: 100%;
  min-height: 1000px;
  position: relative !important; }
  .mirador-reader .content-container {
    margin-top: 40px; }
    .mirador-reader .content-container .panel-thumbnail-view {
      overflow-x: initial; }
  .mirador-reader .window-manifest-title {
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    margin-left: 35px;
    overflow: initial; }
  .mirador-reader .manifest-info {
    overflow: hidden; }
    .mirador-reader .manifest-info .dropdown.slot-controls {
      width: 190px;
      height: 240px; }
  .mirador-reader .select-metadata h3 {
    font-size: 1em; }
  .mirador-reader .select-metadata h4 {
    font-size: 0.9em; }
  .mirador-reader .layer-slot {
    width: 100% !important; }

.mirador-main-menu-bar {
  height: 38px; }
  .mirador-main-menu-bar ul.mirador-main-menu {
    padding: 0; }
    .mirador-main-menu-bar ul.mirador-main-menu li {
      margin-left: 10px; }

.mirador-pan-zoom-toggle {
  bottom: 110px; }
